<div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Title...." name="filterGames" [(ngModel)] ="filterGames">
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let game of games | filter:filterGames">
        <div class="card text-center m-2">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{game.title}}
                <button class="btn btn-danger" (click)="deleteGame(game.id)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <img [src]="game.image" class="card-img-top">
            <div class="card-body">
                <p>{{game.description}}</p>
                <a routerLink="/game/edit/{{game.id}}" class="btn btn-secondary btn-block">
                    EDIT GAME
                </a>
            </div>
        </div>
    </div>
</div>

